.display {
    border: 2px solid black;
    min-width: 225px;
    min-height: 80px;
    max-width: 225px;
    overflow: auto;
    text-align: end;
    border-radius: 5px;
    background-color: rgb(179, 175, 175);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(0, 0, 0) 0px 0 500px;
}

.pad {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    min-width: 50px;
    min-height: 50px;
    border-radius: 5px;
    font-size: large;
    box-shadow: rgba(0,0,0,0.8) 0px 0 3px;
    font-family: 'Roboto', monospace;
}

#clear, #delete{
    min-width: 110px;
    font-weight: bold;
}

#clear {
    background-color: pink;
}

#delete {
    background-color: plum;
}

#clear:active, #delete:active{
    background-color: rgb(167, 167, 162);
}

html {
    background-color: azure;
}

.overall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 180px 0px;
    font-family: "Lucida Console", "Courier New", monospace;
    gap: 150px;
}

.operator {
    background-color: bisque;
}

.operator:focus {
    background-color: orange;
}

.operand:active {
    background-color: beige;
}

.previous {
    min-height: 50px;
}

.current {
    font-size: 25px;
}

.current, .previous {
    margin: 0px 10px;
    font-weight: bold;
    color: white;
}

.topTop {
    display: flex;
    justify-content: space-between;
}

